<link rel="stylesheet" href="/css/home.css" />
<!-- this is for navbar -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container-fluid">
    <a class="navbar-brand px-5 mx-5" href="/">CSV File Upload</a>
  </div>
</nav>

<!-- body container -->
<div class="container-fluid mt-5">
  <h1 class="text-center">Upload a file here</h1>
  <h5 class="text-center">
    Read csv file and display its content in tabular form
  </h5>

  <form action="/csvFile/upload" method="post" enctype="multipart/form-data">
    <div class="input-container">
      <input type="file" id="csvFile" name="file" accept=".csv" required />
      <button class="upload-btn">Upload</button>
    </div>
  </form>
  <h2 class="text-center bg-secondary py-3 text-white mt-5">Uploaded File</h2>
  <!-- Table for display total csv file -->
  <table class="table table-striped table-hover mt-4">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">View</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% for(let file of files) { %>
      <tr>
        <td><%= file.fileName %></td>
        <td><%= file.createdAt.toLocaleDateString() %></td>
        <td><%= file.createdAt.toLocaleTimeString() %></td>
        <td>
          <a href="/csvFile/view/<%= file._id %>"
            ><i class="fa-solid fa-arrow-up-right-from-square"></i
          ></a>
        </td>
        <td>
          <a href="/csvFile/delete/<%= file._id %>"
            ><i class="fa-regular fa-trash-can" style="color: #f00"></i
          ></a>
        </td>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>
